@import "../../scss/_vars";

.menu__container {
  background-color: $sky-gray;
  max-width: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 250px;
  nav {
    margin: 50px 0;
  }
}
.menu__nav-list {
  margin-top: 60px;
  li {
    padding: 30px;
    transition: 0.3s ease;
    &:hover {
      background-color: darken($sky-gray, 10%);
    }
    a {
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom-color: $sky-blue;
      }
    }
  }
}
