@import "../../scss/_vars";

.header__container {
  background-color: $sky-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.46);
  a {

  }
}
