body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

h1, .h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 92px;
  line-height: 111px;
  color: $font-black;
  text-transform: uppercase;
}
h2, .h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: $font-black;
  text-transform: uppercase;
}

.app-wrapper {
  display: flex;
  min-height: 100vh;
  & > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    main {
      flex-grow: 1;
    }
  }
}
