@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OpenSans-Regular.ttf);
}

//////////////////////

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BebasNeue-Regular.ttf);
}

//////////////////////

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/IBMPlexSans-Regular.ttf);
}

//////////////////////

@font-face {
  font-family: 'SF NS';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/sfns-display.ttf);
}
