/* colors */

$blue: #0F62FE;
$sky-blue: #4CB4D4;
$sky-red: #FF6161;
$black: #454545;
$font-black: #3B3B3B;
$font-dark: #262626;
$font-dark-2: #474747;
$dark-gray: #8D8D8D;
$sky-gray: #F4F4F4;
$gray: #A8A8A8;
$black-2: #393939;
$error: #D8000C;
